{
  "parser": "typescript",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [".prettierrc", ".hintrc", "*.json"],
      "options": { "parser": "json" }
    },
    {
      "files": "*.md",
      "options": { "parser": "markdown" }
    },
    {
      "files": "*.html",
      "options": { "parser": "html" }
    },
    {
      "files": "*.css",
      "options": { "parser": "css" }
    }
  ]
}
